@{
    ViewBag.Title = "SearchLost";
     Layout = "~/Views/shared/MasterPage.cshtml";
}
@using FindLosts.Models;
<script src="~/scripts/WebGuestSearch.js"></script>
<div class="row">
    <div class="col-md-9">
        <div class="block-flat">
            <h3 class="spacer-bottom-sm ArabicAlign">بيانات المفقودات</h3>
            <div class="block-flat no-padding">
                <div class="content">
                    <table class="no-border blue">
                        <thead class="no-border">
                            <tr>
                                <th style="width: 25%; text-align: center;">الحالة</th>
                                <th style="width: 25%; text-align: center;">مكان الفقد</th>
                                <th style="width: 25%; text-align: center;">الوصف</th>
                                <th style="width: 25%; text-align: center;">اسم المفقود</th>
                            </tr>
                        </thead>
                        <tbody class="no-border-x" id="result">
                              @{
                                foreach(LostsEntries l in ViewBag.losts)
                                {
                            <tr style="text-align: center;">
                                <td style="width: 16.6%;">@((Enum.GetName(typeof(LostEntriesStatus),l.Status)).ShowStatus())</td>
                                <td style="width: 16.6%;">@l.LostPlace</td>
                                <td>@l.Description</td>
                                <td class="text-right">@l.Name</td>
                            </tr>
                              }
                              }
                            @*<tr style="text-align: center;">
                                <td style="width: 25%;">
                                    <button data-toggle="modal" data-target="#mod-info" type="button" class="btn btn-primary"><i class="fa fa-question-circle"></i>عرض التفاصيل</button></td>
                                <td style="width: 25%;">1100</td>
                                <td class="text-right">محمد</td>
                            </tr>
                            <tr style="text-align: center;">
                                <td style="width: 25%;">
                                    <button data-toggle="modal" data-target="#mod-info" type="button" class="btn btn-primary"><i class="fa fa-question-circle"></i>عرض التفاصيل</button></td>
                                <td style="width: 25%;">1250</td>
                                <td class="text-right">احمد</td>
                            </tr>
                            <tr style="text-align: center;">
                                <td style="width: 25%;">
                                    <button data-toggle="modal" data-target="#mod-info" type="button" class="btn btn-primary"><i class="fa fa-question-circle"></i>عرض التفاصيل</button></td>
                                <td style="width: 25%;">900</td>
                                <td class="text-right">محمود</td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="block-flat">
            <div class="header">
                <h3 class="ArabicAlign">البحث</h3>
            </div>
            <div class="content">
                <form class="form-horizontal group-border-dashed" novalidate="" parsley-validate="" action="#" style="border-radius: 0px;">
                    <div class="block-flat" style="border: none;">
                        <div class="content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: right; width: 100%;">الكود</label>
                                <div class="col-sm-12 Arabic">
                                    <input style="direction: ltr;" class="form-control" size="16" value="" type="text" id="Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
